[submodule "ghead"]
	path = ghead
	url = https://github.com/galois-advertising/ghead
[submodule "gpendingpool"]
	path = gpendingpool
	url = https://github.com/galois-advertising/gpendingpool
[submodule "common"]
	path = common
	url = https://github.com/galois-advertising/common
